@tailwind base;
@tailwind components;
@tailwind utilities;

.v-application--wrap {
    min-height: 0vh;
}

.v-select.v-text-field input {
    visibility: collapse;
}
.theme--light.v-btn.v-btn--has-bg {
    background-color: rgb(114, 70, 146);
}

.theme--dark.v-sheet{
    background-color: rgb(194, 47, 47);
}